
- name: Find AMI
  ec2_ami_find:
     ami_id: "{{ami_id}}"
     region: "{{region}}"
  register: "ami_find"

- name: Provision AMI
  ec2:
    instance_type: "{{infra_instance_type}}"
    image:  "{{ami_find['results'][0]['ami_id']}}"
    region: "{{region}}"
    spot_price: "{{ infra_node_spot_price }}"
    spot_wait_timeout: 300
    wait: true
    key_name: "{{key_name}}"
    vpc_subnet_id: "{{subnet_facts['subnet']['id']}}"
    group: ['{{ namespace }}_vpc', '{{ namespace }}_default']
    volumes:
      - device_name: "{{ami_find['results'][0]['root_device_name']}}" 
        volume_size: "{{root_volume_size}}"
        volume_type: gp2        
        delete_on_termination: true
      - device_name: "/dev/xvdb"
        volume_size: "{{docker_volume_size}}"
        volume_type: gp2        
        delete_on_termination: true
    count_tag:
      Name: "base_{{namespace}}"
    instance_tags:
      Name: "base_{{namespace}}"
      role: "base_{{namespace}}"
    exact_count: 1
    assign_public_ip: yes
  register: ec2_base

- name: Register VM facts
  set_fact:
   base_private_ip: "{{ ec2_base['tagged_instances'][0]['private_ip'] }}"
   base_public_ip: "{{ ec2_base['tagged_instances'][0]['public_ip'] }}"
   instance_id: "{{ ec2_base['tagged_instances'][0]['id'] }}"

- name: Wait for SSH to come up
  wait_for:
    host: '{{ item }}'
    port: 22
    delay: 60
    timeout: 300
    state: started
  with_items:
    - "{{ base_public_ip }}"

